.form-container {
  width: 500px;
  height: 600px;
  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  background: #fff;
  padding-left: 20px;
}

.form-title {
  color: #2a414f;
  font-family: Lato;
  font-size: 35px;
  letter-spacing: 0.088px;
  text-align: center;
}

.form-control label {
  display: block;
  color: #2a414f;
  font-family: Lato;
  font-size: 21px;
  letter-spacing: 0.026px;
}
.form-control input {
  width: 415px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #95a0a7;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 17px;
}

.btn-submit {
  width: 440px;
  height: 55px;
  border-radius: 5px;
  background: rgba(255, 153, 0, 0.3);
  border: 1px solid #95a0a7;

  font-family: Lato;
  font-size: 25px;
  letter-spacing: 0.032px;
}
.btn-submit:hover {
  background-color: rgba(253, 179, 66, 0.3);
}
.login-account {
  text-align: center;
  color: #2a414f;
  font-family: Lato;
  font-size: 15px;
  letter-spacing: 0.038px;
}
