/* .shop-container{
   
} */
.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 45px;
  margin: 45px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}
.cart-container {
  height: 700px;
  position: sticky;
  top: 0;
  border: 1px solid rgba(255, 153, 0, 0.3);
}
